/* Header/Logo Title */


header {
    /* Borders for debugging */
    border: 2px solid red;
    font-size: 30px;
}

li {
    display: inline;
}

.main-block {
    /* Borders for debugging */
    border: 2px solid lightseagreen;
    height: 300px;
}

.block {
    display: block;
    border: 2px solid lightseagreen;
    width: 14%;
    height: 100px;
}

.thumbnail {
    object-fit: cover;
    width: 100%;
    height: inherit;
}

.category-blocks {
    display: flex;
}

.category {
    /* Borders for debugging */
    border: 2px solid red;
}


