/* Header/Logo Title */

body {
    background-color: #141414;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-left: 2em;

}

header {
    /* Borders for debugging */
    border: 2px solid red;
    font-size: 15px;
}

li {
    display: inline;
}


.category {
    /* Borders for debugging */
    border: 2px solid red;
}

.hero {
    /* Borders for debugging */
    border: 2px solid lightseagreen;
    height: 300px;
}

/* The hero image */
.hero__imgage {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url(../assets/best_movie_placeholder.png);

    /* Set a specific height */
    height: inherit;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero__text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.hero__play_button {
    background-color: white;
    border: none;
    color: #141414;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 16px;
    /*margin: 4px 2px;*/
    border-radius: 4px;
}


.carousel {
    display: flex;
    flex-direction: row;
}


.carousel__movie {
    margin: 0.4vw;
    border: 2px solid lightseagreen;
    width: 14%;
    height: 100px;
}

.carousel__movie__thumbnail {
    height: 100%;
    width: 100%;
}

.carousel__movie:hover {
    border: 2px solid black;
}


